



<div class="container">
<div class="row center">
<div class="col-sm-12 col-md-12">
<h3 class="text-center"> <%= @redeemed_coupon.coupon.title %> </h3>

<div class="thumbnail">
      <%= image_tag @redeemed_coupon.coupon.image %>
</div>

<h6 class="text-center"><b>Cupom válido até: <%= @redeemed_coupon.expiration_date %></b></h6>
<hr>
</div>
</div>

<div class="row col-sm-12 col-md-12">
<h5 class="text-center"> CÓDIGO DO CUPOM</h5>
<div class="thumbnail" style="background-color:#000">
<b><h1 class="text-center" style="color:#FFF"> <%= @redeemed_coupon.code %> </h1></b>
</div>
<p> Apresente o código na compra para ganhar o desconto.</p>
</div>
</div>