<div class="container">
<% @coupons.each do |coupon| %>
<div class="row center">
  <div class="col-sm-12 col-md-12">
    <div class="thumbnail">
      <%= image_tag coupon.image %>
      <div class="caption">
        <h3><%= coupon.title %></h3>
        <p><%= truncate coupon.description, length: 250 %></p>
        <p><%= link_to "Resgatar", getcoupon_path(coupon_id: coupon), class: "btn btn-success btn-block btn-lg" %></p>
      </div>
    </div>
  </div>
</div>
<%end%>
</div>

