<h1>Cupons</h1>

<% @coupons.each do |coupon| %>
  <h3>  <b> <%= coupon.title %> </b> </h3>
  <%= image_tag coupon.image.thumb.url %>
  <p> <%= truncate coupon.description, length: 160 %> </p>
  <%= link_to "Adquirir", getcoupon_path(coupon_id: coupon), class: "btn btn-success" %>
  <hr>
<%end%>

