<div class="container">
  <div class="row centered">
  <div class="col-sm-12 col-md-12">
    <h3>Usuários</h3>
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <hr>
  </div>
  </div> 
  
  <div class="row text-center">
  <% if current_user.try(:admin?) %>
    <%= link_to "Novo Usuário", new_admin_user_path, class: "btn btn-success btn-block btn-lg" %>
  <% end %>
 
</div>
</div>